@import "./variables";

.__answer-box {
  background: $selected-clue-bg;
  padding: 7px;

  table {
    border-collapse: collapse;

    td.cell {
      width: 7vw;
    }
  }

  .clue {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;

    .clue-key {
      margin-right: 15px;
      font-weight: bold;
    }

  }

  .cell input {
    font-size: 1.5rem;
  }
}
