@import "./variables";

.__answer-box-container {
  min-height: 90px;
}

.__answer-box {
  border-left: $blue-bg 10px solid;
  padding: 7px;

  table {
    border-collapse: collapse;

    td.cell {
      width: 7vw;
    }
  }

  .clue {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: flex;

    .clue-key {
      flex: 1;
      margin-right: 15px;
      font-weight: bold;
    }

    .clue-text {
      flex: 8;
    }
  }

  .cell input {
    font-size: 1.5rem;
  }
}
