@import "./variables";

.clue__row {
  display: flex;
  padding: 3px 3px 10px 3px;
  margin-bottom: 5px;
  font-size: 0.9rem;

  &.selected, &:hover.selected {
    background-color: $blue-bg;
  }

  &:hover {
    background-color: $green-bg;
    cursor: pointer;
  }

  .key {
    flex: 1;
    font-weight: bold;
  }
  .text {
    flex: 8;
  }
}
