.crossword__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          "matrix across down";


  ul {
    padding: 0;
    margin-top: 3px;
  }

  li {
    list-style-type: none;
  }
}

h2 {
  margin: 0;
}

.crossword__matrix {
  border-collapse: collapse;
  height: 552px;
  width: 552px;

  .cell {
    border: 1px solid #000;
    position: relative;
  }

  .blank,
  td.selected.blank,
  td.cursor.blank {
    background-color: #000;
  }

  .cell input {
    height: 30px;
    width: 30px;
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    caret-color: transparent;

    &::selection {
      background: transparent;
    }
  }


  .cell span {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 50%;
  }

  td.cursor,
  td.cursor.selected {
    background-color: rgba(183, 209, 218, 0.7);
  }
  td.selected {
    background-color: rgba(226, 232, 221, 0.6);
  }
}
