@import "./variables";

.crossword__container {
  max-width: 1200px;
  margin: 0 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "answer"
    "matrix"
    "across"
    "down";

  ul {
    padding: 0;
    margin-top: 3px;
  }

  li {
    list-style-type: none;
  }

  .answer-container {
    grid-area: answer;
  }

  .matrix-container {
    grid-area: matrix;
  }

  .across {
    grid-area: across;
  }

  .down {
    grid-area: down;
  }
}

h1 {
  font-size: 1rem;
  font-family: sans-serif;
}

h2 {
  margin: 0;
}

.crossword__matrix {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

@media (min-width: $large-width-breakpoint){
  .crossword__container {
    display: flex;
    margin: 20px auto;

    .matrix-container {
      flex: 2;
      margin-right: 20px;
    }
    .across, .down {
      flex: 1;
      margin-right: 10px;
    }
  }
}

